* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	background-color: black;
}

/* html {
	scroll-behavior: smooth;
} */

.navBar {
	height: 15vh;
	background: transparent;
	display: flex;
	justify-content: space-evenly;
	padding-left: 15%;
	padding-right: 15%;
}

.navItems {
	color: #74C69D;
	margin-top: 40px;
}

.navItems:hover {
	color: #D8F3DC;
	/* color: #D8F3DC; */
	transition: .5s;
}


.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	height: 100vh;
	background-color: black;
}


p {
	color: white;
	font-size: 1.2rem;
}

p span {
	width: 80vw;
	background-color: rgb(0, 0, 0);
}


.child {
	scroll-snap-align: start;
}

.navbar {
	/* height: 30px; */
}

.nav-link {
	color: #74C69D !important;
}

.nav-link:hover {
	color: #D8F3DC !important;
	transition: .5s !important;
}

@media(min-width:992px) {
	.collapse {
		margin-left: 35vw !important;

	}

}


.container {
	display: inline-block;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}


@media(max-width:1203px) {
	.navBar {
		padding: 0;
	}
}

@media(max-width:990px) {
	.navBar {
		padding: 30vw;
	}
}

@media(max-width:850px) {
	.navBar {
		padding: 28vw;
	}
}

.navbar-collapse {
	/* margin-top: 150px !important;
	padding-right: 0;
	padding-left: 60vw; */
}



.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.aqua {
	background-color: aqua;
}

.black {
	background-color: black;
}

.container1 {
	height: 86vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.half1 {
	width: 50vw;
	height: 86vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	padding: 0 !important;
	margin: 0 !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.half2 {
	width: 50vw;
	height: 86vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	z-index: 2;
}

.scroll1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll3 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll4 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll5 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll6 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll7 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll8 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll9 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll10 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll11 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

.scroll12 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 7rem;

}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #e4e9eb;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

.heading {
	width: 70%;
	height: 55vh;
	/* height: 25%; */

	/* display: flex; */
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.events-main-heading {
	font-size: 2.3rem;
	width: 50%;

}

.white-color {
	color: white;
}

.scroll-heading {
	font-size: 1.8rem;
	/* margin-left: 250px; */
}

.image-events {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 33%;
	top: 37%;
	/* margin-bottom: 20px; */
}

.scroll-data {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/* margin-left: 50px; */
	padding-top: 2rem;
}

.para-events {
	width: 100%;
	/* margin-left: 50px; */
	text-align: justify;
	font-size: 1rem;
}

.displayon {
	display: block;

}

.displayoff {
	display: none;
}

.background-image {
	height: 86vh;
	position: absolute;
	z-index: 1;
}

@media(max-width:600px) {
	.container1 {
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* overflow: hidden; */
	}

	.half1 {
		width: 100vw;
		height: 100px;
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		padding: 0;
		margin: 0;
		/* display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; */
		z-index: 2;
	}

	.half2 {
		width: 100vw;
		height: 63vh;
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		padding: 0;
		margin: 0;
		z-index: 2;
	}

	.scroll1 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding-left: 0 !important;
		padding-right: 0px !important;
		padding-bottom: 0 !important;
		padding-top: 0px !important;

	}

	.scroll2 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll3 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll4 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll5 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll6 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll7 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll8 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll9 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll10 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll11 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll12 {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		scroll-snap-align: start;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		/* padding-top: 7rem; */
		padding: 0 !important;

	}

	.scroll-data {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		/* margin-left: 50px; */
		/* padding-top: 2rem; */
		padding-left: 5px !important;
		padding-right: 5px !important;
		padding-bottom: 0 !important;
		padding-top: 0px !important;
	}

	p {
		color: white;
		font-size: 0.8rem;
	}

	.scroll-heading {
		font-size: 28px;
	}

	.events-main-heading {
		font-size: 35px;
		width: 100%;
	}

	.heading {
		width: 100%;
		height: 50px;
		/* display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row; */
	}

	.image-events {
		width: 80px;
		height: 80px;
		/* z-index: 5; */
		position: relative;
		/* left: -1%; */
		margin-left: 6%;
		margin-bottom: 4%;
		/* top: -20%; */
		/* margin-bottom: 20px; */
	}

	.image-div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
}

/*Loader CSS*/

section {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.multi-spinner-container {
	width: 150px;
	height: 150px;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
}

.multi-spinner {
	position: absolute;
	width: calc(100% - 9.9px);
	height: calc(100% - 9.9px);
	border: 5px solid transparent;
	border-top-color: #74C69D;
	border-radius: 50%;
	-webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
	animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}



@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	-webkit-from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	-webkit-to {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinBack {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

@media(max-width:881px) {
	.heading {
		top: 1% !important;
	}
}

@media(max-width:810px) {
	@media(min-width:600px) {
		@media(max-height:808px) {
			.firstH {
				margin-top: -100px;
			}
		}
	}

	/* @media(min-height: 1179px){
		.events-main-heading{
			top: 11% !important;
		}
	} */
}


@media(min-width:600px) {
	.image-events{
		box-shadow: 10px 10px #B7E4C7;
	}
	@media(max-width: 950px) {
		@media(min-height: 1174px) {
			@media(max-height:1190px) {
				.events-main-heading {
					top: 20%;
				}
			}
		}

		.image-events {
			left: 13%;
			top: 40%
		}
		.events-main-heading{
			margin-top: -100px;
		}
		.res {
			padding-left: 0;
		}
	}

}

@media(max-width: 599px) {
	.image-events {
		width: 150px;
		height: 150px;
	}

	.scroll-data {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	.firstP {
		margin-bottom: 400px !important;
	}
}

@media(max-width:450px) {
	.events-main-heading {
		font-size: 1.7rem;
	}

	.heading {
		display: block;
		margin-top: 30px;
	}
}

#headingRemove {

	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 45px;
}

.image-events {
	background: transparent;
}

.scroll-heading {
	color: #74C69D;
}

@media(max-width:886px) {
	@media(min-width: 600px) {
		.lastP {
			margin-top: -120px;
		}

		.res {
			padding-right: 30px;
		}

		.events-main-heading {
			padding-right: 192px;
			padding-left: 40px
		}
	}
}
@media(max-width:1080px){
	@media(min-width: 950px){
		.events-main-heading {
			padding-right: 202px;
			padding-left: 40px
		}
	}
}

@media(max-width:420px){
	.image-events{
		margin-left: -20px !important;
		padding-top: 5px;
	}
}


@media(max-width:991px) {
	.navbar-collapse {
		margin-top: 150px !important;
		padding-right: 0;
		padding-left: 60vw;
		z-index: 999;
	}
}

.image-events{
	background-color: 	#74C69D;
	/* background-color: 	#339980; */
	padding: 10px;
	border-radius: 10px;
}