* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	background-color: black;
}

html {
	scroll-behavior: smooth;
}

.navBar {
	/* height: 100px; */
	background: transparent;
	display: flex;
	justify-content: space-evenly;
	padding-left: 15%;
	padding-right: 15%;
}

.navItems {
	color: #74C69D;
	margin-top: 40px;
}

.navItems:hover {
	color: #D8F3DC;
	/* color: #D8F3DC; */
	transition: .5s;
}

/* @media(max-width: 575px){
	.navItems{
		display: none;
		font-size: 1px;
	}
} */

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	height: 100vh;
	background-color: black;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 40%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

.magnoContent h1 {
	font-size: 3.7rem !important;
	color: white;
	z-index: 900;
	background-color: black;
	margin-left: 38%;
	width: 53vw;
}

.home_dates {
	width: 25vw;
	margin-left: 37vw;
	color: #4d8469;
}

@media(max-width: 500px) {
	.magnoContent h1 {
		font-size: 1.2rem !important;
	}

	.magnoContent p {
		font-size: 1rem;
		margin-left: 26vw;
		width: 50vw;
	}
}

@media(max-width: 395px) {
	.magnoContent h1 {
		margin-left: 27%;
	}
}

@media(max-width: 550px) {
	@media(min-width: 500px) {
		.magnoContent h1 {
			font-size: 1.6rem !important;
			margin-left: 32%;
		}
	}
}

@media(min-width:1000px) {
	@media(max-width:1297px) {
		.magnoContent h1 {
			font-size: 2.8rem !important;
			margin-left: 47%;
		}
	}
}

@media(max-width: 1000px) {
	@media(min-width: 850px) {
		.magnoContent h1 {
			font-size: 2.8rem !important;

		}
	}

	@media(max-width: 870px) {
		@media(min-width: 570px) {
			.magnoContent h1 {
				font-size: 1.7rem !important;

			}
		}

		@media(min-width: 690px) {
			.magnoContent h1 {
				font-size: 2.2rem !important;

			}
		}

	}
}

.magnoContent {
	width: 50vw;
	position: absolute;

	z-index: 9;
	margin-top: 10px;
	align-items: center;
}

.magnoP {
	background: transparent;
	width: 80vw;
	position: absolute;
	z-index: 9;
	margin-top: 300px;
	text-align: justify;
	padding-left: 19vw;
}

p {
	color: white;
	font-size: 1.2rem;
}

p span {
	width: 80vw;
	background-color: rgb(0, 0, 0);
}

.contents {
	width: 50vw;
}

.gif {
	width: 50vw;
}

.gifContents {
	padding-top: 20vh;
}

.y.mandatory-scroll-snapping {
	scroll-snap-stop: always;
	scroll-snap-type: y mandatory !important;
}

.stop {
	scroll-snap-stop: always !important;
}

.child {
	scroll-snap-align: start;
}

.navbar {
	/* height: 30px; */
}

.nav-link {
	color: #74C69D !important;
}

.nav-link:hover {
	color: #D8F3DC !important;
	transition: .5s !important;
}

@media(min-width:992px) {
	.collapse {
		margin-left: 35vw !important;

	}

}


.container {
	display: inline-block;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}








:root {
	--surface-color: black;
	/* --surface-color: #D8F3DC; */
	--curve: 40;
}

* {
	box-sizing: border-box;
}

@media(min-width: 700px) {
	@media(max-width: 1700px) {
		.cardDiv {
			margin-top: -80vh;
		}
	}
}

.cards {
	display: grid;
	/* display: flex; */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	margin: 4rem 5vw;
	padding: 0;
	list-style-type: none;
}

.card {
	position: relative;
	display: block;
	height: 100%;
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
}

.card__image {
	width: 100%;
	height: 270px;
}

.card__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: calc(var(--curve) * 1px);
	background-color: var(--surface-color);
	transform: translateY(100%);
	transition: .2s ease-in-out;
}

.card__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 2em;
	border-radius: calc(var(--curve) * 1px) 0 0 0;
	background-color: black;
	/* background-color: #D8F3DC; */
	transform: translateY(-100%);
	transition: .2s ease-in-out;
}

.cards p {
	background-color: black;
	/* background-color: #D8F3DC; */
}

.card__arc {
	background: transparent;
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 99%;
	right: 0;
	z-index: 1;
}

.card__arc path {
	fill: var(--surface-color);
	d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
	transform: translateY(0);
}

.card__thumb {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.card__title {
	font-size: 1.3em;
	font-weight: bolder;
	margin: 0 0 .3em;
	color: #D8F3DC;
	background-color: transparent;
}

.card__header-text {
	background-color: transparent;
}

.card__tagline {
	display: block;
	margin: 1em 0;
	font-family: "MockFlowFont";
	font-size: .8em;
	color: #1B4332;
}

.card__status {
	font-size: .8em;
	color: #D7BDCA;
}

.card__description {
	padding: 0 2em 2em;
	margin: 0;
	color: #D8F3DC;
	font-family: "MockFlowFont";
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.cards a {
	background-color: #74C69D;
}

.card:hover .card__overlay {
	transform: translateY(0);
}

@media(max-width:1203px) {
	.navBar {
		padding: 0;
	}
}
@media(max-width:990px) {
	.navBar {
		padding: 30vw;
	}
}
@media(max-width:850px) {
	.navBar {
		padding: 28vw;
	}
}

.navbar-collapse{
	/* margin-top: 150px !important;
	padding-right: 0;
	padding-left: 60vw; */
}