
* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
  text-align: justify;
	background-color: black;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
  background-image: url("http://sebsauvage.net/galerie/photos/Wallpapers/vladstudio.com/vladstudio_where_tahrs_live_2880x1800_signed.jpg");
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

body {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #1B4332 inset;
  background-color: black;
  max-width: 60%;
  padding: 30px;
}
@media (max-width: 550px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
 
}
@media (max-width: 300px){
  body{
    box-sizing: border-box;
  }
  
  }
  table{
    box-sizing: border-box;
  }
  @media only screen and (min-width : 280px) and (max-width : 420px) {
    #main{
        font-size: 20px;
    }
  }
.rules h1, h2 {
  color: #74C69D;
}

.rules h1 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

.rules h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #1a191a;
  margin: 0;
  cursor: pointer;
}
.rules p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 1200px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.rules ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.rules ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px solid #74C69D;
}
.rules ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.rules ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.rules ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.rules ul li:last-of-type {
  padding-bottom: 0;
}
.rules ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.rules ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #74C69D;
  width: 3px;
  height: 9px;
}
.rules ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.rules ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.rules ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
}
.rules ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.rules ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.rules ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.ewlink {
  text-decoration: none;
  color: #74C69D;
}
th, td, tr{
  border: 1px solid #1B4332;
  color: #74C69D;
  padding: 15px;
}
.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: #e74c3c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover, .btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.btn.block {
  display: block !important;
}
.btn.circular {
border-radius: 50em !important;
}

.green {
  background-color: #5bbd72;
}
.purple {
  background-color: #564f8a;
}
.checkbox-icon {
  margin-right: 15px;
  /* margin-top: -12.5px; */
}
.margin-left {
  margin-left: 0 !important;
  margin-bottom: 15px !important;
}
.margin-top {
  margin-top: 25px !important;
}

::-webkit-scrollbar {
	width: 15px;
  }
  
  ::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
  }